.Header {
  display: flex;
  justify-content: space-between;
}
.Header-title {
  font-size: 35px;
}
@media (min-width: 376px) {
  .Header-title {
    font-size: 40px;
  }
}
.Header-checkout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  margin: 0 0 0 0.5em;
}
.Header-alert {
  color: #33b13a;
  font-size: 14px;
  margin-left: 5px;
}
.Header a {
  text-decoration: none;
  color: #33b1ff;
}
